* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    display: flex;
    z-index: 100;
    background-color: rgba(177, 177, 177, 0.171);
}

.section {
    display: flex;
    flex-direction: column;

    min-width: 35em;
    min-height: 20em;
    width: 50vw;
    height: 40vh;
    margin: auto;
    background-color: rgba(139, 176, 228, 0.425);
    border-radius: .5em;
    box-shadow: .1em .1em .5em rgba(24, 24, 24, 0.651);
    transition: .5s;
}

.section:hover {
    z-index: 1000;
    background-color: rgba(139, 176, 228, 0.7);
    box-shadow: .8em 1em .9em rgba(24, 24, 24, 0.651);
}

.section > .title {
    min-height: 60%;
    max-height: 60%;
    height: 3em;
    width: 90%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 13%;
    padding-bottom: 10%;
    margin: 5% 5%;

    color: rgb(34, 144, 187);
    box-sizing: border-box;
    line-height: 2em;
    text-align: center;
}

.section > .version {
    width: 90%;
    margin: 0 5%;
    height: 2em;
    min-height: 22%;
    max-height: 22%;
    padding: 1% 5%;
    box-sizing: border-box;
    text-align: right;
    line-height: 2em;
}